<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title>Document</title>
</head>
<body>
	<h2>FLIGHT STUFF</h2>
	<form action="/flights" method="POST">
		
		<label>flightNo:
			<input type="text" name="flightNum">
		</label><br>
		<label>airline
			<select name="airline">
				<option value="American">American</option>
				<option value="Frontier">Frontier</option>
				<option value="United">United</option>
			</select>
		</label><br>
		<label>Departure date/time:
			<input type="datetime-local" name="departs">
        </label><br>
        <label> Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        </label></br>
        <button type="submit">This is a button and I do button things...and lie</button>
        
		
	</form>
</body>
</html>
